@import "/home/aditya/.cache/wal/colors-gtk.css";

* {
	background-image: none;
}
window {
	background-color: alpha(transparent, 0.4);
}
button {
    color: @color15;
	background-color: @background-alpha;
	border-style: solid;
	border-width: 2px;
	border-color: @background-alpha;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
	margin: 10px;
	transition: 0.3s;
}

button:focus, button:active, button:hover {
	outline-style: none;
	border: 2px solid @color15;
	background-size: 18%;
	font-weight: bold;
}

button:hover{
	border: 2px solid alpha(@color15, 0.7);
}


#lock {
    background-image: image(url("/home/aditya/.cache/wlogout/icons/icon-1.png"));
}

#logout {
    background-image: image(url("/home/aditya/.cache/wlogout/icons/icon-2.png"));
}

#suspend {
    background-image: image(url("/home/aditya/.cache/wlogout/icons/icon-6.png"));
}

#hibernate {
    background-image: image(url("/home/aditya/.cache/wlogout/icons/icon-0.png"));
    background-size: 20%;
}

#shutdown {
    background-image: image(url("/home/aditya/.cache/wlogout/icons/icon-5.png"));
}

#reboot {
    background-image: image(url("/home/aditya/.cache/wlogout/icons/icon-4.png"));
}
